/* ==========================================
   CUSTOM SCROLLBAR
   ========================================== */

/* Webkit scrollbar styling */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #31a651;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #288a43;
    background-clip: padding-box;
    border: 3px solid transparent;
}
